@media screen and (min-width:700px) {
    .aboutme{
        display: block;
        padding: 20px;
        min-height: 200px;
        width: 100%;
        border: 1px solid white;
        border-radius: 1vw;
    }
    .status-bar{
        display: none;
    }
    .main-title-container{
        border :none;
    }
    .main-title{
        display: flex;
        flex-direction: row;

        flex-wrap: nowrap;
        justify-content: space-between;
    }
  .img-txt-social-container{
 width: 70%;
 margin: auto;
 display: flex;
 flex-direction: row;
    justify-content: center;
    align-items: center;
  }
    .socials-container{
    display: block;
}    
.contacts{
    display: block;
    flex-direction: row;
    justify-content: left;
    gap: 20px;
}
}