/* General Styles */
.main-title-container {
    width: 100%;
    text-align: center;
   overflow: hidden;
    
}

.main-title {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 10px;
    background-color: teal;
    text-transform: uppercase;
    width: 100%;
}
@media screen and (max-width:300px){
    .main-title button{
        font-size: 0.7rem;
    }
}
.main-title button {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    padding: 1vh;
    color: #ffffff;
    transition: color 0.3s ease;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
}

.main-title button:hover {
    color:yellow;
}

.status-bar {
    height: 9px;
    background:yellow;
    width: 0;
    border-radius: 4px;
    transition: width 1s ease, transform 1s ease;
}

.main-data {
    margin-top: 20px;
        display: flex;
        width: 100%;
        gap: 10px;
        height: auto;
     
}

.aboutme {
    display: none;
}

.aboutme.active {
    display: block;
}








.technologies-icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-shrink: 1;
    gap: 10px;
    border: 0px;
    width: 100%;
    font-size: 2rem;
}
.technologies-icons span:hover {
    transform: scale(1.1);
}
.fa-html5, .fa-js, .fa-bootstrap, .fa-react, .fa-node-js, .fa-python {
    background-color: white;
    padding: 1vh;
    color: orange;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.fa-html5 i, .fa-css3 i, .fa-js i, .fa-bootstrap i, .fa-react i, .fa-node-js i, .fa-python i {
    font-size: 1rem;
    align-items: center;
    color: black;
    padding: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-transform: uppercase;
}
.fa-css3 {
    background-color: white;
    color: darkblue;
    padding: 1vh;
    border-radius: 10px;
    display: flex;
    border: 1px solid black;
}
.fa-js {
    color: yellow;
}
.fa-bootstrap {
    color: blue;
}
.fa-react {
    color: lightblue;
}
.fa-node-js {
    color: green;
}
.fa-python {
    color: green;
}
.lservices {
    clear: both;
    width: 100%;
}
.lservices div {
    clear: both;
}
.scont img {
    width: 20%;
    object-fit: contain;
    clear: both;
    margin-left: 2vh;
}
.scont {
    width: 70%;
    margin: auto;
    background-color: white;
    padding: 0.1vh;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    color: black;
    font-size: 2rem;
    border: 1px solid black;
}
h5 {
    font-size: 1rem;
    font-weight: bold;
    align-self: center;
    text-align: center;
}
.webdevcont, .backendcont {
    display: none;
}
.seo, .backend {
    margin-top: 10px;
}
.about2 {
    margin-top: 40vh;
}