.open-nav-btn{
    color: teal;
    font-size: 2rem;
    text-align: right;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 10px;
    display: none;
    margin-right: 2vh;
}
.close-nav-btn{
    color: red;
    font-size: 2rem;
    margin: 2vw;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    background-color: #000000;
    font-size: 16px;
    z-index: 100;
    padding: 10px;
}
.nav-bar{
    position: fixed;
    top: 0;
    right: 0;
    height: 50%;
    width: 0%;
    background-color: rgb(13, 215, 215, 0.2);
    backdrop-filter: blur(5px);
    overflow: hidden;
    transition: width 0.5s ease;
    z-index: 100;
    
}
.nav-bar button{
    display: block;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 1.3rem;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;

}
@media screen and (min-width:750px) {
  .navbar span{
    display: none;
  }
    .nav-bar{
        width: auto;
        height: 70px;
        display: flex;
        background-color: transparent;
        backdrop-filter: blur(0px);
    }
}